body {
    background-color: rgb(255, 255, 255);
    color: #0F1035;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px;
}
.page{
    display: grid;
    position: relative;
    top:200px;
    height: 450px;
    background-color: white;
    border-radius: 60px;
    
}

a:visited{
    color: white;
}
a:link{
    color: white;
}
a:active{
    color: #000;
}

h1{
    color: white;
    position: relative;
    bottom: 10px;;
}

.header{
    display: flex;
    justify-content: center;
    position: relative;
    bottom:40px;
    background-color: rgb(54, 84, 134);
    color: #0F1035;
    border-top-left-radius: 60px;

}



.list{
    display: grid;
    position: relative;
    left: 40px;
    bottom: 70px;
    
}
.list > button{
    display: flex;
    position: relative;
    margin: 15px;
    top: 40px;
    left: 90px;
}

.button{
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(15, 16, 53, 0.6);
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 12px;
    border-radius: 30px;
    background-color: rgb(127,199,217);
    color: black;
    cursor: pointer;
    font-size: 22px;
    
    
}

.button:active{
    background-color: black;
    color: white;
}

.first:active{
    background-color: black;
    color: white;
}

.last:active{
    background-color: black;
    color: white;
}


.first{
background-color: rgb(127,199,217);
box-shadow:
    inset 1px 0px 5px rgba(255, 255, 255, 0.6),
    inset -1px 0px 5px rgba(15, 16, 53, 0.6);
display: flex;
font-size: 22px;
justify-content: center;
position: relative;
border-top-right-radius: 30px;
bottom: 80px;
width: 300px;
height: 40px;
padding-top: 12px;
color: black;
border: none;
font-weight: bold;
cursor: pointer;
    
    
}

.last{
    box-shadow:
    inset 1px 0px 5px rgba(255, 255, 255, 0.6),
    inset -1px 0px 5px rgba(17, 18, 47, 0.6);
    display: grid;
    position: relative;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    background-color: rgb(127,199,217);
    color: black;
    border: none;
    left: 300px;
    bottom: 80px;
    width: 300px;
    height: 40px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    
}

