<!DOCTYPE html>
<html>

<head>
    <title>Create User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/create_user.css" type="text/css" rel="stylesheet" >

</head>

<body background="/login_background.jpg">
<form action="/create_user">
    <div class="panel">
        <div class="title">
            <h1>CREATE NEW USER</h1>
        </div>
        <div class="name">
                <h3 class="txt">NAME :</h3>
                <input name="name" type="text" class="input" placeholder="Insert name...">
        </div>
        <div class="email">
                <h3 class="txt">EMAIL :</h3>
                 <input name="email" type="text" class="input" placeholder="Insert email...">
        </div>
        <div class="username">
                <h3 >USERNAME :</h3>
                <input name="username" type="text" class="input" placeholder="Insert username...">
        </div>
        <div class="password">
                <h3>PASSWORD :</h3>
                <input name="password" type="password" class="input" placeholder="Insert user password...">
        </div>
            <button type="submit" class="create_user">CREATE ACCOUNT</button>
        <div class="error"><h3 th:text="${ERROR}"></h3></div>
    </div>
</form>

    <script type="text/javascript">

    </script>
</body>

</html>
